[submodule "widgets/emissions"]
	path = widgets/emissions
	url = https://github.com/wikirate/wikirate-widget
[submodule "widgets/topic-graph"]
	path = widgets/topic-graph
	url = https://github.com/wikirate/topic-graph.git
[submodule "widgets/walkfree"]
	branch = main
	path = widgets/walkfree
	url = https://github.com/wikirate/msa.git
[submodule "widgets/tea-suppliers-map"]
	path = widgets/tea-suppliers-map
	url = https://github.com/wikirate/tea-suppliers-map.git
